<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <import resource="services.xml" />


    <bean id="client1" class="com.lessons.lesson_2.model.Client">
        <property name="name" value="Vasya"/>
        <property name="monthlySalary" value="600"/>
    </bean>
    <bean id="client2" class="com.lessons.lesson_2.model.Client">
        <property name="name" value="Petya"/>
        <property name="monthlySalary" value="200"/>
    </bean>
    <bean id="client3" class="com.lessons.lesson_2.model.Client">
        <property name="name" value="Ivan"/>
        <property name="monthlySalary" value="10"/>
    </bean>
    <bean id="client4" class="com.lessons.lesson_2.model.Client">
        <property name="name" value="Bogdan"/>
        <property name="monthlySalary" value="100"/>
    </bean>


    <util:list id="clientList" scope="singleton" list-class="java.util.ArrayList">
        <ref bean="client1"/>
        <ref bean="client2"/>
        <ref bean="client3"/>
        <ref bean="client4"/>
    </util:list>

    <bean id="Bank" class="com.lessons.lesson_2.Bank">
        <property name="clients" ref="clientList"/>
        <property name="LOG" ref="myLogger" />
    </bean>

</beans>